.home-container {
  margin-block-start: 70px;
  border: 1px solid #dcc;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.profile-picture {
  border-radius: 50%;
}
