.nav_bar {
  position: fixed;
  border-right: 5px solid red;
  border-radius: 0px 5dvb 5dvb 0px;
  display: flex;
  background-color: rgb(226, 219, 219);
}

.navigate {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.nav_bar li {
  display: inline-flex;
  margin-inline-end: 20px;
  justify-content: space-between;
}
